.nav {
  padding: 40px 0;
  width: 100%;
  background: #fff;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navBrand {
  margin-right: 5px;
  font-size: 33.8px;
  font-weight: bold;
  color: var(--very-dark-blue);
}

.navItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navList {
  display: flex;
  font-size: 15px;
  list-style: none;
  gap: 30px;
}

.navLink {
  color: var(--grayish-violet);
  font-weight: bold;
}

.navLink:hover,
.navLink:focus {
  color: var(--very-dark-blue);
}

.navButtons {
  display: flex;
  gap: 15px;
}

@media only screen and (max-width: 992px) {
  .nav {
    padding: 30px 0;
  }

  .navItemsContainer {
    display: none;
  }
}
