.nav {
  padding: 40px 0;
  width: 100%;
  background: #fff;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBrand {
  margin-right: 5px;
  font-size: 33.8px;
  font-weight: bold;
  color: var(--very-dark-blue);
}

.navItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navList {
  display: flex;
  font-size: 15px;
  list-style: none;
  gap: 30px;
}

.navLink {
  color: var(--grayish-violet);
  font-weight: bold;
}

.navLink:hover,
.navLink:focus {
  color: var(--very-dark-blue);
}

.navButtons {
  display: flex;
  gap: 15px;
}

.navHamburger {
  display: none;
}

.navModal {
  position: absolute;
  top: 14%;
  left: 6%;
  right: 6%;
  border-radius: 10px;

  background-color: var(--dark-violet);
}

.navModalOverlay {
  background: transparent;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 27px;
  padding: 40px 25px;
  font-weight: 700;
}

.modalContainer a {
  color: white;
}

.modalButton {
  width: 100%;
}


.modalDivider {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--grayish-violet);
}

@media only screen and (max-width: 992px) {
  .nav {
    padding: 30px 0;
  }

  .navItemsContainer {
    display: none;
  }

  .navHamburger {
    display: block;
  }
}
