.nav {
  position: fixed;
  z-index: 1000;
  padding: 10px 0;
  width: 100%;
  background: white;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navBrand {
  font-size: 30px;
  font-weight: bold;
  color: var(--very-dark-blue);
}

.navItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navList {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navLink {
  color: var(--grayish-violet);
  font-weight: bold;
}

.navLink:hover,
.navLink:focus {
  color: var(--very-dark-blue);
}

.navButtons {
  display: flex;
  gap: 20px;
}
