.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px 25px 15px 32px;
  border-radius: 8px;
  background: #fff;
  transform: translateY(-120%);
}

.originalLink,
.shortenedLink {
  font-size: 20px;
}

.originalLink {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--very-dark-blue);
}

.shortenedLink {
  color: var(--cyan);
  margin-right: 20px;
}

.shortenedLinkCopied {
  background: var(--dark-violet);
}

@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 24px;
    max-width: 500px;
    padding: 15px;
    gap: 22px;
    transform: translateY(-57%);
  }

  .divider {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gray);
  }

  .originalLink,
  .shortenedLink {
    font-size: 16px;
  }

  .originalLink {
    width: 101%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .shortenedLinkContainer {
    width: 100%;
  }

  .shortenedLinkButton {
    margin-top: 12px;
    width: 100%;
  }
}
