.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px 25px 15px 32px;
  border-radius: 8px;
  background: #fff;
  transform: translateY(-120%);
}

.originalLink,
.shortenedLink {
  font-size: 20px;
}

.originalLink {
  color: var(--very-dark-blue);
}

.shortenedLink {
  color: var(--cyan);
  margin-right: 20px;
}

.shortenedLinkCopied {
  background: var(--dark-violet);
}
