.container {
  position: relative;
  padding: 60px 20px 65px 25px;
  font-size: 15px;
  color: #fff;
  background: var(--very-dark-violet);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

.brand {
  font-size: 34px;
  font-weight: bold;
}

.footerDivider {
  width: 7%;
}

.footerListTitle {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.footerLink {
  display: block;
  margin-bottom: 10px;
  font-size: 15.5px;
  color: var(--grayish-violet);
}

.footerLink:hover,
.footerLink:focus {
  color: var(--cyan);
}

.footerSocialLink {
  margin-left: 25px;
}

.footerSocialLink:hover,
.footerSocialLink:focus {
  filter: invert(57%) sepia(93%) saturate(362%) hue-rotate(132deg)
    brightness(160%) contrast(87%);
}

.attribution {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1em;

  font-size: 11px;
  text-align: center;

  color: var(--grayish-violet);
}

.attribution a {
  color: var(--cyan);
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 45px 20px;
  }

  .footerContainer {
    flex-direction: column;
    text-align: center;
    gap: 17px;
  }

  .footerSocialList {
    margin-top: 20px;
    margin-left: -30px;
  }
}
