.showcase {
  padding: 150px 0;
}

.showcaseIntro {
  font-size: 70px;
  color: var(--very-dark-blue);
}

.showcaseDescription {
  width: 50%;
  font-size: 20px;
  color: var(--grayish-violet);
}

.showcaseImage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 800;
  width: 50%;

  transform: translate(10%, 30%);
}

.boost {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 250px;
  background: var(--dark-violet);
  transform: translate(0);
}

.boostText {
  font-size: 35px;
  color: #fff;
}

.boostImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}
