.container {
  padding: 20px;
  height: -50px;
  border-radius: 5px;
  background: #fff;
  z-index: 100;
}

.container h4 {
  color: var(--very-dark-blue);
}

.container p {
  font-size: 14px;
  color: var(--grayish-violet);
}

.content {
  transform: translateY(-25%);
}
