.container {
  position: relative;
  padding: 50px 34px 30px 34px;
  border-radius: 10px;
  background: #fff;
  z-index: 100;
}

.container h4 {
  margin-bottom: 15px;
  font-size: 22.4px;
  color: var(--very-dark-blue);
}

.container p {
  font-size: 15.05px;
  color: var(--grayish-violet);
}
